streamlit
streamlit_option_menu
streamlit_image_comparison
pillow
pandas
matplotlib
mpl_toolkits.mplot3d
opencv
numpy
scikit-learn
typing
import torch
torchvision
torchsummary
pickle
joblib
os
glob
