streamlit==1.24.0
numpy>=1.19.0,<1.22
scikit-image  # Example replacement for image comparison functionality
pillow
opencv-python
torch
torchvision
scikit-learn
matplotlib
seaborn
torchsummary
pandas
joblib
streamlit_option_menu
hydralit_components
requests



